#porcelainProjectContainer {
  background: linear-gradient(90deg, #d9bc95, #000, #74542a, #fff);
  background-size: 400% 400%;
}
#porcelainProject {
  background-color: #fff;
}
#porcelainProjectBtn:hover {
  background-color: #003535;
  color: white;
}
#porcelainProjectContentContainer {
  background-color: #006b6b;
}
.porcelainCarousel {
  background-color: #003535;
  border-radius: 5px;
  opacity: 1;
}
#porcelainProjectContentContainer {
  background-color: #006b6b;
}
