#sapphireProjectImageContainer {
  background-color: #0f52ba;
}
#sapphireProjectContentContainer {
  background-color: #0f52ba;
}
#sectionHeadingTitleSapphire {
  border: 6px solid #0f52ba;
  background-color: white;
  color: #0f52ba;
}
#sapphireProjectContentContainer {
  background-color: #0f52ba;
}
#projectGithubSapphire:hover {
  background-color: #0f52ba;
}
#journalBtnSapphire {
  background-color: #0f52ba;
}
#journalBtnSapphire:hover {
  background-color: white;
  color: #0f52ba;
}
#sapphireProjectBtn:hover {
  background-color: #040649;
  color: white;
}
#sapphireProject {
  background-color: #0f52ba;
}
#sapphireProjectContainer {
  background-color: #040649;
}
.sapphireCarousel {
  background-color: #040649;
  border-radius: 5px;
  opacity: 1;
}
